body {
 background-color: #525252;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 3px solid black;
  padding: 0.5rem;
  text-align: left;
}

a {
  color: black;
}



.head-div {
  display: flex;
  text-align: center;
  margin: auto auto 40px auto;
  width: 50%;
}

.frog-gif {
  width: 120px;
  height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}




.task-description-div {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.basic-div {
  text-align: center;
  margin-bottom: 40px;
}

.solution-div {
  text-align: center;
  margin-bottom: 40px;
}

.process-complete-div {
  text-transform: uppercase;
  text-align: center;
  margin: 50px auto 200px;
}

.process-message-div {
  text-transform: uppercase;
  text-align: center;
  margin: 10px auto 10px;
}

.authors-div {
  display: block;
  text-align: center;
  margin: 0 auto 20px auto;
  font-weight: bold;
  font-size: 15px;
}

.authors-container-div {
  justify-content: center;
  display: flex;
}





.title.main-title {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}

.title.table-title {
  font-size: 30px;
  text-align: center;
}

.title.process-complete {
  color: #ffff00;
  font-size: 40px;
}

.title.error {
  color: #e60000;
  font-size: 40px;
}

.title.error-small {
  color: #e60000;
  font-size: 20px;
}

.title.income {
  font-size: 25px;
}

.income-solution-span {
  color: #04f000;
}


.task-description-p {
  margin: 0 100px 0 100px;
}

.author-title-p {
  margin: 0 0 2px;
}

.author-p {
  margin: 0 5px 0 5px;
}




.table {
  text-align: center;
  margin: auto;
  width: 50%;
}

.table.unoptimized {
  margin: auto auto 10px auto;
}